
# Git files
.gitignore
.git

# Docker files
Dockerfile
.dockerignore
docker-compose*.yml

# Dependencies
node_modules

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local